<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.StyleMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Style">
    <id column="styleid" jdbcType="INTEGER" property="styleid" />
    <result column="stylename" jdbcType="VARCHAR" property="stylename" />
  </resultMap>
  <sql id="Base_Column_List">
    styleid, stylename
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_style
    where styleid = #{styleid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_style
    where styleid = #{styleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.Style">
    insert into t_style (styleid, stylename)
    values (#{styleid,jdbcType=INTEGER}, #{stylename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Style">
    insert into t_style
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="styleid != null">
        styleid,
      </if>
      <if test="stylename != null">
        stylename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="styleid != null">
        #{styleid,jdbcType=INTEGER},
      </if>
      <if test="stylename != null">
        #{stylename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Style">
    update t_style
    <set>
      <if test="stylename != null">
        stylename = #{stylename,jdbcType=VARCHAR},
      </if>
    </set>
    where styleid = #{styleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Style">
    update t_style
    set stylename = #{stylename,jdbcType=VARCHAR}
    where styleid = #{styleid,jdbcType=INTEGER}
  </update>
</mapper>