<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.WayMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Way">
    <id column="wayid" jdbcType="INTEGER" property="wayid" />
    <result column="wayname" jdbcType="VARCHAR" property="wayname" />
  </resultMap>
  <sql id="Base_Column_List">
    wayid, wayname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_way
    where wayid = #{wayid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_way
    where wayid = #{wayid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.Way">
    insert into t_way (wayid, wayname)
    values (#{wayid,jdbcType=INTEGER}, #{wayname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Way">
    insert into t_way
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wayid != null">
        wayid,
      </if>
      <if test="wayname != null">
        wayname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wayid != null">
        #{wayid,jdbcType=INTEGER},
      </if>
      <if test="wayname != null">
        #{wayname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Way">
    update t_way
    <set>
      <if test="wayname != null">
        wayname = #{wayname,jdbcType=VARCHAR},
      </if>
    </set>
    where wayid = #{wayid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Way">
    update t_way
    set wayname = #{wayname,jdbcType=VARCHAR}
    where wayid = #{wayid,jdbcType=INTEGER}
  </update>
</mapper>